<div style="height: 80vh">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true"
        fxHide.gt-sm *ngIf="isAuthenticated">
        <mat-icon>menu</mat-icon>
      </button>
      <span fxHide fxShow.gt-xs>Raktár Menedzser</span>
      <span fxHide.gt-xs>RM</span>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md *ngIf="isAuthenticated">
        <button mat-button [routerLink]="['/things']" routerLinkActive="activebutton"><mat-icon>takeout_dining</mat-icon>Tárgyak</button>
        <button mat-button [routerLink]="['/warehouses']" routerLinkActive="activebutton"><mat-icon>corporate_fare</mat-icon>Raktárak</button>
        <button mat-button (click)="onLogout()"><mat-icon>logout</mat-icon>Kijelentkezés</button>
      </div>
      <p *ngIf="isAuthenticated">{{ username }}</p>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav (click)="sidenav.toggle()">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/things']" routerLinkActive="router-link-active">Tárgyak</a>
        <a mat-list-item [routerLink]="['/warehouses']" routerLinkActive="router-link-active">Raktárak</a>
        <a mat-list-item (click)="onLogout()">Kijelentkezés</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
