<h1 mat-dialog-title>Tárgy {{ data.event }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      #name="ngModel"
      matInput
      placeholder="Tárgy neve"
      [(ngModel)]="data.name"
      maxlength="50"
      required
    />
    <mat-error>
      A tárgy neve nem lehet üres, és legfeljebb 50 karakterből állhat
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      #length="ngModel"
      matInput
      placeholder="Tárgy hossza"
      [(ngModel)]="data.length"
      type="number"
      min="1"
      max="5"
      required
    />
    <mat-error> A tárgy hosszának 1 és 5 között kell lennie </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      #width="ngModel"
      matInput
      placeholder="Tárgy szélessége"
      [(ngModel)]="data.width"
      type="number"
      min="1"
      max="5"
      required
    />
    <mat-error> A tárgy szélességének 1 és 5 között kell lennie </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Mégse</button>
  <span class="spacer"></span>
  <button
    mat-button
    [mat-dialog-close]="data"
    style="color: #fff; background-color: #153961"
    [disabled]="!length.valid || !name.valid || !width.valid"
  >
    Mentés
  </button>
</div>
