<h1 mat-dialog-title>Raktár {{ editMode === -1 ? 'létrehozásas' : 'szerkesztése' }}</h1>
<form [formGroup]="modalForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field *ngIf="editMode!==-1">
      <input
        matInput
        placeholder="Raktár azonosítója"
        formControlName="id"
        [disabled]="true"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Raktár címe"
        formControlName="address"
      />
      <mat-error>
        A raktár címe nem lehet üres, és legfeljebb 50 karakterből állhat
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Raktár hossza"
        type="number"
        formControlName="length"
      />
      <mat-error> A raktár hosszának 1 és 5 között kell lennie </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Raktár szélessége"
        type="number"
        formControlName="width"
      />
      <mat-error> A raktár szélességének 1 és 5 között kell lennie </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onCancel()">Mégse</button>
    <span class="spacer"></span>
    <button mat-button style="color: #fff; background-color: #153961" [disabled]="!modalForm.valid" type="submit">
      Mentés
    </button>
  </div>
</form>
